<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('header.ejs') %>
</head>
<body>
    <h1>hello world</h1>
    <!-- https://github.com/zxing-js/browser -->
    <script type="text/javascript" src="https://unpkg.com/@zxing/browser@latest"></script>
</body>
</html>