<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('header.ejs') %>
        <link rel="stylesheet" href="/stylesheets/index.css" />
    </head>
    <body>
        <%- include('nav.ejs') %>
        <div class="main">
            <span class="h1 bold title">UNM</span>
            <span>운호고 야자 출석 관리 시스템</span>
            <div class="buttons">
                <a href="/login" class="btn-primary btn">로그인</a>
                <a
                    href="/register"
                    class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                    >또는 회원가입</a
                >
            </div>
        </div>
    </body>
</html>
