<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">UNM</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/mypage/state">내 야자 현황</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register-ns">야자 신청/변경</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board">게시판</a>
                </li>
            </ul>
            <div class="d-flex">
                <span
                    >로그인이든 회원정보든 뭐든 아무튼 대체될 예정
                    ㅇㅇㅇㅇ</span
                >
            </div>
        </div>
    </div>
</nav>
